/*-----------------------------------*\
   PAGE HEAD
\*-----------------------------------*/



.page__head {
	margin-top: 54px;
	position: relative;
	box-shadow: 0 1px 2px rgba(darken($color-brand, 20%), 0.75);
	background-color: $color-gray-1;
	@include media-query(desk) {
		margin-top: 0;
	}
	> .wrapper {
		@include media-query(desk) {
			display: table;
			table-layout: fixed;
		}	
	}
}

.site-logo,
.site-nav {
	@include media-query(desk) {
		display: table-cell;
		vertical-align: middle;
	}
}
.site-logo {
	padding: $inuit-base-spacing-unit 0;
	text-align: center;
	background-color: $color-brand;
	@include media-query(desk) {
		width: 245px + ($inuit-base-spacing-unit * 2);
		padding-top: halve($inuit-base-spacing-unit);
		padding-bottom: halve($inuit-base-spacing-unit);
		padding-right: $inuit-base-spacing-unit * 2;
	}
	&:before {
		@include media-query(desk) {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 25%;
			content: "";
			background-color: $color-brand;
		}	
	}
	a {
		display: block;
		width: 100%;
	}
	img {
		position: relative;
		height: 100px;
		z-index: 10;
	}
}
.site-nav {
	position: fixed;
	top: 54px;
	transform: translate(0, -100%);
	width: 100%;
	padding: $inuit-base-spacing-unit;
	z-index: 300;
	background-color: $color-gray-1;
	box-shadow: 0 1px 2px rgba(black, 0.25);
	transition: transform 0.25s ease-in;
	@include media-query(desk) {
		position: relative;
		top: 0 !important;
		transform: none !important;
		width: auto;
		padding: 0;
		text-align: right;
		box-shadow: none;
	}
	.logged-in & {
		top: 100px;
	}
	a:not(.btn) {
		display: block;
		padding: halve($inuit-base-spacing-unit);
		border-bottom-color: $color-gray-2;
		color: $color-gray-8;
		@include media-query(desk) {
			display: inline-block;
			vertical-align: middle;
			margin-right: quarter($inuit-base-spacing-unit);
			border-top: 1px solid transparent;
			border-bottom: 1px solid transparent;
		}
		&:hover,
		&:focus,
		&.site-nav__active {
			color: $color-gray-10;
			@include media-query(desk) {
				border-color: $color-gray-3;
			}		
		}
	}
	.btn {
		margin-top: $inuit-base-spacing-unit;
		white-space: nowrap;
		@include media-query(desk) {
			margin-top: 0;
		}
	}
}
.site-nav--open {
	transform: translate(0, 0);
	transition: transform 0.25s ease-out;
}
.site-nav__active {
	cursor: default;
}

.portable-bar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 54px;
	z-index: 400;
	background-color: $color-gray-1;
	box-shadow: 0 2px 4px rgba(black, 0.25);
	@include media-query(desk) {
		display: none;
	}
	.logged-in & {
		top: 46px;
	}
}

.site-nav-toggle {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: halve($inuit-base-spacing-unit);
  margin-top: -$menu-toggle-size / 2;
  width: $menu-toggle-size;
  height: $menu-toggle-size;
  padding: $menu-spacing-unit * 2;
  background-color: $color-gray-2;
  border-radius: $menu-spacing-unit / 2;
  transition: all 0.15s;
  &:hover,
  &:focus {
    background-color: $color-gray-1;
    box-shadow: 0 0 0 $menu-spacing-unit / 2 $color-gray-2;
  }
  &:active {
    transform: scale(0.8);
  }
  &:before,
  &:after {
    position: absolute;
    display: block;
    content: "";
    width: $menu-toggle-size - ($menu-spacing-unit * 4);
    height: $menu-spacing-unit;
    background-color: $color-gray-6;
    border-radius: $menu-spacing-unit / 4;
  }
  &:before {
    top: $menu-spacing-unit * 2.5;
    transition: all 0.35s ease-out;
  }
  &:after {
    top: $menu-spacing-unit * 4.5;
    box-shadow: 0 $menu-spacing-unit * 2 $color-gray-6;
    transition: all 0.45s ease-out;
  }
}
.site-nav-toggle--open {
  background-color: $color-red;
  box-shadow: 0 0 0 $menu-spacing-unit / 2 lighten($color-red, 15%);
  &:hover,
  &:focus {
    background-color: lighten($color-red, 5%);
    box-shadow: 0 0 0 $menu-spacing-unit / 2 lighten($color-red, 15%);
  }
  &:before,
  &:after {
    top: 50%;
    margin-top: -$menu-spacing-unit / 2;
    background-color: #fff;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after  {
    transform: rotate(-45deg);
    box-shadow: none;
  }
}

[id="wpadminbar"] {
	position: fixed !important;
}




@mixin btn-style($btn-color) {
	background-color: $btn-color;
	&:hover,
	&:focus {
		border-color: $btn-color;
		color: $btn-color;
	}
}

.btn.btn {
	border: 1px solid transparent;
	color: white;
	transition: all 0.15s;
	@include btn-style($color-primary);
	&:hover,
	&:focus {
		background-color: white;
	//	color: white;
	}
}
.btn.btn--secondary {
	@include btn-style($color-secondary);
}