/*-----------------------------------*\
   STRIP
\*-----------------------------------*/



.strip {
	overflow: hidden;
	min-height: 200px;
	padding-left: $inuit-base-spacing-unit;
	padding-right: $inuit-base-spacing-unit;
	padding-top: double($inuit-base-spacing-unit);
	padding-bottom: double($inuit-base-spacing-unit);
	@include media-query(desk) {
	//	padding-top: $inuit-base-spacing-unit * 3;
	//	padding-bottom: $inuit-base-spacing-unit * 3;
		padding-left: 0;
		padding-right: 0;
	}
	.strip {
		@include media-query(desk) {
			padding-top: double($inuit-base-spacing-unit);
			padding-bottom: double($inuit-base-spacing-unit);
		}
	}
	> :last-child {
		margin-bottom: 0;
	}
}
.strip--secondary {
	background-color: $color-gray-1;
}
.strip--pop {
	text-align: center;
	background-color: darken($color-primary, 2%);
	background-image: url(../images/house-overlay-3.jpg);
	background-size: cover;
	background-attachment: fixed;
	color: white;
	box-shadow: inset 0 0 4px rgba(black, 0.25);
}
